.body {
    margin: 0;
    padding: 0;
    /* background: url('https://images.unsplash.com/photo-1617051180942-9ae0ba2fbeb7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center top; */
    background: url('https://colombia.wcs.org/Portals/113/Noticias/Proyecto%20Nevados/nevados_Juan%20de%20la%20Cruz.jpg?ver=2018-10-26-153820-157') no-repeat center top;
    
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-position: center center;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
  }
  
  .login-box {
    width: 80%;
    height: 340px;
    background: #00000094;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 25px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box button {
    border: none;
    outline: none;
    height: 40px;
    background: #0D607E;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box button:hover {
    cursor: pointer;
    background: #FFFF;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }
  .btn-form {
      margin-bottom: 10px;
  }

  .alert-toast{
    background: #0D607E !important;
    text-align: center;
  }