<ion-content>
  <div class="body">
    <div class="login-box">
      <img
        src="https://png.pngtree.com/template/20190809/ourlarge/pngtree-mountains-logo-vector-template-image_291029.jpg"
        class="avatar" alt="Avatar Image">
      <h1>Recuperar contraseña</h1>
      <div class="form-login">
        <!-- USERNAME INPUT -->
        <ion-label for="email">Correo electrónico</ion-label>
        <ion-input style="border-bottom: 2px solid #0D607E; margin-bottom: 10px;" [(ngModel)]="email" type="email" required
          placeholder="Ingresa correo electrónico"></ion-input>
        
        <div style="display: grid;">
          <ion-button (click)="recoveryPassword()" class="btn-block btn-form" type="button">
            Recuperar
          </ion-button>
          <ion-button (click)="goToLogin()" class="btn-block btn-form" type="button">
            Iniciar sesión
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>