#main{
    margin: 0;
    padding: 0;
    padding-top: 50px;
    background: url('https://colombia.wcs.org/Portals/113/Noticias/Proyecto%20Nevados/nevados_Juan%20de%20la%20Cruz.jpg?ver=2018-10-26-153820-157') no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-position: center center;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
}
   

