<ion-content>
  <div class="body">
    <div class="login-box">
      <img
        src="https://png.pngtree.com/template/20190809/ourlarge/pngtree-mountains-logo-vector-template-image_291029.jpg"
        class="avatar" alt="Avatar Image">
      <h1>Bienvenido a Caldas Sitios Turisticos</h1>
      <div class="form-login">

        <ion-text>
          CST garantiza que la información personal que usted
          envía cuenta con la seguridad necesaria. Los datos ingresados
          por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que
          deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.
        </ion-text>
        <br>
        <ion-text>
          La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al
          momento de crear su cuenta.
        </ion-text>

        <div style="display: grid;">
          <ion-button (click)="aceptTerms()" class="btn-block btn-form"  style="margin-top: 20px" type="button">
            Aceptar
          </ion-button>
          <ion-button (click)="backLogin()" class="btn-block btn-form" type="button">
            Iniciar sesión
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>